body{
  font-family: Arial;
  background:#F3F1EC;
  margin:0;
  padding:20px;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

h1{
  margin:0;
}

button{
  background:#0F2F4A;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#5E7B93;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
}

th,td{
  padding:10px;
  border:1px solid #ddd;
  text-align:center;
}

th{
  background:#0F2F4A;
  color:white;
}

tr:nth-child(even){
  background:#f9f9f9;
}
